body {
    margin: 2rem;
    background-color: lightblue;
    /* margin-top: -25px; */
}


/* HEADER */

/* name */

header {
    margin: 0;
    text-align: center;
    background-color: lightblue;
}

.name {
    font-family: consolas;
    border: 2px solid #73AD21;
    border-radius: 25px;
    margin-bottom: 20px;

}


.name:hover {
    background-color: green;
    box-shadow: 0 10px 40px rgb(0 0 0 / 100%);
}

h1 {}

/* navbar */

.navbar {
    text-align: left;
    font-family: consolas;
    border: 2px solid #73AD21;
    border-radius: 25px;
    position: relative;
    height: 320px;
    margin-right: 50px;
    margin-left: 50px;
}

.navbar span {
    border: 2px solid #73AD21;
    border-radius: 25px;
    font-size: 16px;
    margin-left: 50px;
    padding: 10px;
    border-radius: 50px;
}

.navbar img {
    display: inline-block;
    height: 150px;
    margin-right: 100px;
    margin-top: 40px;
    object-fit: cover;

}

.navbar:hover {
    background-color: green;

}

.navbar img:hover {
    box-shadow: 0 10px 40px rgb(0 0 0 / 100%);
    transform: scale(2.5);
    transition-duration: 10s;

}

#me {
    display: inline-block;
    float: right;
    border-radius: 25%;
    box-shadow: 200%;
    box-shadow: -1px 6px 18px 9px rgb(0 0 25 / 70%);
    transition: all ease-in-out .2s;
    height: 200px;
    width: 150px;
}

.linkedin {
    margin-left: 10px;
}

.fa fa-linkedin-square {}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    border-radius: 48px;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: #73AD21;
}


/* MAIN*/

main {
    text-align: center;
    height: 700px;
    background-color: lightblue;
    position: relative;
    font-family: consolas;
    border: 2px solid #73AD21;
    border-radius: 25px;
    margin-bottom: 2%;
    margin-top: .5rem;
    padding: 2rem;
}

h2 {}

main:hover {
    background-color: green;
    box-shadow: 0 10px 40px rgb(0 0 0 / 100%);
}



/* ME */



.me {
    width: 400px;
    height: 400px;
    text-align: left;
    overflow: hidden;
    border-radius: 20px;
    user-select: none;
    box-shadow: 0 10px 40px rgb(0 0 0 / 20%);
    border: 2px solid #73AD21;
    position: absolute;
    display: flex;
    margin-top: 10%;
    margin-left: 35%;
}

.meoverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0) 20%);
}

.me img {
    height: 100px;
    width: 100px;
    border: 2px solid #73AD21;
    border-radius: 0;
    object-fit: cover;
}

.me:hover {
    box-shadow: 0 10px 40px rgb(0 0 0 / 100%);
    transform: scale(2.10);
    transition-duration: 3s;
}



.education {
    width: 400px;
    height: 400px;
    text-align: left;
    overflow: hidden;
    border-radius: 20px;
    user-select: none;
    box-shadow: 0 10px 40px rgb(0 0 0 / 20%);
    border: 2px solid #73AD21;
    position: absolute;
    display: flex;
    margin-top: 10%;
    margin-left: 10%;
}

.work {
    width: 400px;
    height: 400px;
    text-align: left;
    overflow: hidden;
    border-radius: 20px;
    user-select: none;
    box-shadow: 0 10px 40px rgb(0 0 0 / 20%);
    border: 2px solid #73AD21;
    position: absolute;
    display: flex;
    margin-top: 10%;
    margin-left: 60%;
}



/* EDUCATION */

.education img {
    height: 100px;
    width: 100px;
    border: 2px solid #73AD21;
}

.education:hover {
    transform: scale(2.2);
    transition-duration: 3s;
    box-shadow: 0 10px 40px rgb(0 0 0 / 100%);
}


/* WORK */


.work img {
    height: 100px;
    width: 100px;
    border: 2px solid #73AD21;
}

.work:hover {
    transform: scale(2.2);
    transition-duration: 3s;
    box-shadow: 0 10px 40px rgb(0 0 0 / 100%);
}


/* FOOTER */

/* back to top, contact form icons */

footer {
    margin-top: 10px;
    padding: 2rem;
    border: 2px solid #73AD21;
    border-radius: 25px;
    background-color: lightblue;
}

.backtotop {
    text-align: center;
}

input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 2px solid #73AD21;
    border-radius: 25px;
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: lightblue;
    padding: 20px;
}


footer:hover {
    background-color: green;
    box-shadow: 0 10px 40px rgb(0 0 0 / 100%);
}